@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(180deg, rgba(252, 161, 78, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, #FCA14E -23.34%, #FFE6CE 92.9%, rgba(255, 255, 255, 0.00) 160.49%, rgba(255, 255, 255, 0.00) 162.89%);
}

button {
  cursor: pointer;
}

:fullscreen,
::backdrop {
  background-color: white;
}


